body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.38;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.services {
    background: #fff url(../../img/headline.png) center top no-repeat;
}

.main-page-wrapper {
    background: url(../../img/elep.png) center top no-repeat, url(../../img/mount.png) right bottom 165px no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.container--services {
    margin: 0 auto;
    max-width: 1140px;
    background: #001821;
}

.main-content__features {
    margin-bottom: 120px;
}

.main-content__news {
    margin-bottom: 140px;
}

.features--serv {
    margin-bottom: 45px;
}

.features--services {
    margin-bottom: 58px;
}

.paginator--serv {
    margin-bottom: 85px;
}

.partners-serv {
    margin-bottom: 50px;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-weight: normal;
}

ul li {
    list-style: none;
}

a {
    color: inherit;
}

.title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.button {
    background: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 40px;
    padding: 18px 39px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    display: inline-block;
    cursor: pointer
}

