.features {
    color: #000000;
}

.features__subtitle:after {
    content: url(../../img/flame.png);
    margin-left: 12px;
    width: 21px;
    height: 28px;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    width: calc(100% / 3 - 18px);
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    background-color: #fff;
    vertical-align: top;
}

.features__item:last-child {
    margin-right: 0;
}

.features__discription {
    padding: 30px 22px;
}

.features__img {
    height: 144px;
}

.picture__features {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.features__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
}

.features__option {
    display: flex;
    margin-bottom: 23px;
}

.features__option-img {
    margin-right: 10px;
}

.features__option-item {
    margin-right: 28px;
}

.features__option-item:last-child {
    margin-right: 0;
}

.features__option-text {
    color: #666;
    position: relative;
    top: -6px;
}

.features__text {
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #303030;
    margin-bottom: 24px;
}

.features__button {
    padding: 18px 30px;
    background: #fff;
    color: #F5170E;
    transition: .3;
}

.features__button:hover {
    background-color: #F5170E;
    color: #fff;
}

