.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(255 255 255 / 10%);
    top: 56px;
    min-height: 137px;
    position: relative;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.contacts__workhours--footer {
    color: #9A9A9A;
    font-size: 11px;
}

.socials {
    margin-right: 40px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--tg .socials__link {
    background-image: url(../../img/socials/tg.png);
}

.socials__item--icon--tg .socials__link:hover {
    background-image: url(../../img/socials/tg1.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(../../img/socials/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(../../img/socials/vk1.png);
}

.socials__item--icon--fb .socials__link {
    background-image: url(../../img/socials/fb.png);
}

.socials__item--icon--fb .socials__link:hover {
    background-image: url(../../img/socials/fb1.png);
}

.socials__item--icon--in .socials__link {
    background-image: url(../../img/socials/in.png);
}

.socials__item--icon--in .socials__link:hover {
    background-image: url(../../img/socials/in1.png);
}