.footer {
    background: #001821;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.contacts__workhours--footer {
    color: #9A9A9A;
    font-size: 11px;
}

