.footer {
    top: 77px;
    height: 146px;
    position: relative;
}

.contacts__workhours--footer {
    color: #9A9A9A;
    font-size: 11px;
}

.socials {
    position: absolute;
    right: 300px;
    top: 50%;
    transform: translateY(-50%);
}