.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.footer {
    position: relative;
}

.logo   {
    display: block;
    margin-right: 80px;
}

/* .menu {

} */

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 2px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}

.route {
    width: 50%;
    padding: 120px 0 245px;
}

.route__preview {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 25px;
}

.route__text {
    font-size: 18px;
    margin-bottom: 30px;
}