.header {
    height: 120px;
    position: relative;
    margin-bottom: 74px;
}

.footer {
    position: relative;
}

.logo   {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.menu {
    position: absolute;
    top: 38px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;

}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 27px;
    right: 0px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}

.route {
    width: 511px;
}

.route__preview {
    font-size: 72px;
    font-weight: bold;
    line-height: 98,05;
    margin-bottom: 27px;
}

.route__text {
    font-size: 18px;
    margin-bottom: 30px;
}

.route__button {
    background: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 40px;
    padding: 18px 39px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    display: inline-block;
    cursor: pointer
}