.header {
    height: 120px;
    position: relative;
}

.footer {
    position: relative;
}

.logo   {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    position: absolute;
    left: 164px;
    top: 50%;
    transform: translateY(-50%);
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;

}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}

.route {
    width: 511px;
    padding: 100px 0 200px;
}

.route__preview {
    font-size: 72px;
    font-weight: bold;
    line-height: 98,05;
    margin-bottom: 27px;
}

.route__text {
    font-size: 18px;
    margin-bottom: 30px;
}