.header--place--inner {
    margin-bottom: 102px;
}

.services {
    display: flex;
}

.services__discription {
    padding: 13px 59px;
}

.services__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 30px;
}

.services__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #303030;
    margin-bottom: 5px;
}

.services--margin--bottom {
    margin-bottom: 44px;
}

.services--margin--paginator {
    margin-bottom: 60px;
}

.paginator__display--serv {
    color: #000000;
    margin-right: 40px;
}

.paginator__item--serv {
    text-align: center;
}

.paginator__link--serv {
    color: #000000;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.paginator__item--active--serv .paginator__link--serv {
    background-color: #F5170E;
    color: #fff;
}

.partners {
    background: #F4F5F5;
}

.partners__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    padding: 88px 0;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -12px;
}

.partners__items {
    width: calc(100% / 4);
    margin-bottom: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.partners__logo--pic {
    max-width: 100%;
}
